<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-size: 30px;">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center">
  <ion-card class="card_design">
    <ion-card-title class="greeting">
      {{greeting}}
    </ion-card-title>
    <br>
    <ion-card-title *ngIf="person" id="quote" class="quote">
      <q>{{quote}}</q>
    </ion-card-title>
    <br>
    <p *ngIf="person" class="writer">
      {{person}}
    </p>
  </ion-card>
</div>
</ion-content>
